### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [4]:
# Dependencies and Setup

import pandas as pd


def spaceless_lowers(dataframe):
    """
    :param dataframe: a dataframe with columns that have spaces and uppercase letters
    :return: a dataframe with the spaces replaced with _ and all caps made lowercase.
    
    """
    try:
        cols = dataframe.columns
        cols = [col.replace(' ', '_').lower() for col in cols]
        dataframe.columns = cols

        return dataframe

    except NameError:
        print('There is an unresolved reference to the dataframe in the function\'s argument.\n'
              'Make sure that the dataframe has been read and defined.')


def format_money(values):
    """
    :param values: iterable object you want to convert to money format
    :return: the values formatted as money
    """
    try:
        formatted_values = ['${:,.2f}'.format(value) for value in values]
        return formatted_values
    except TypeError as e:
        print('you must pass an iterable to this function.')


def format_percent(values):
    """
    :param values: iterable object you want to convert to percent format
    :return: values formatted as percent
    """
    try:
        formatted_values = ['{:.2%}'.format(value) for value in values]
        return formatted_values

    except TypeError as e:
        print('you must pass an iterable to this function.')


def make_the_output(df, *col_to_group):
    # df = pd.read_csv(df)

    # remove spaces and caps from df so its easier to work with
    # df = spaceless_lowers(df)

    dict_to_print = dict()

    unique_players = df['sn'].nunique()  # 576

    unique_items = df['item_id'].nunique()  # 179
    avg_price = df['price'].mean()  # 3.05
    num_purchases = len(df['purchase_id'])  # 780
    total_revenue = df['price'].sum()  # 2379.77

    # ! return
    unique_df = pd.DataFrame({'Total Players': [unique_players]})

    dict_to_print['unique_df'] = unique_df

    # ! return
    purch_df = pd.DataFrame(
            {
                    'Unique Items': unique_items,
                    'Average Price': format_money([avg_price]),
                    'Total Purchases': [num_purchases],
                    'Total Revenue': format_money([total_revenue])
            }
    )

    dict_to_print['purchase_df'] = purch_df

    # removing this print statement from the real script
    # so i can easily move it to a notebook
    # print(
    #         f'Player Count\n'
    #         f'{unique_df}\n\n'
    #         f'Purchasing Analysis\n'
    #         f'{purch_df}\n\n'
    # )

    # instantiate the dictionary used later in the loop
    output_dict = dict()

    # name of the bin categories
    cats = '<10 10-14 15-19 20-24 25-29 30-34 35-39 >40'.split()

    # upper bound of each bin
    b = [0, 9, 14, 19, 24, 29, 34, 39, 100]

    # reassigning this column so as to prevent naming conflicts when
    # passing column names as parameters
    df['age_new'] = df['age']

    # binning ages and reassigning the bin name to the age column
    df['age'] = pd.cut(df['age_new'], bins=b, labels=cats)

    # loop through each column name passed to function
    for group in col_to_group:
        # gbo is standard naming for groupby objects
        gbo = df.groupby(group)
        purchase_count = gbo['purchase_id'].count()
        avg_purch_price = gbo['price'].mean()
        total_purch_value = gbo['price'].sum()
        unique_per_group = gbo['sn'].nunique()
        avg_total_per_person = total_purch_value / unique_per_group

        pct_players = unique_per_group / unique_players

        # ! return
        players_df = pd.DataFrame(
                {
                        'Total Count': unique_per_group,
                        'Percentage': format_percent(pct_players)
                }
        )

        # ! return
        purch_group_df = pd.DataFrame(
                {
                        'Purchase Count': purchase_count,
                        'Average Purchase Price': format_money(avg_purch_price),
                        'Total Purchase Value': format_money(total_purch_value),
                        'Average Total Purchase per Person': format_money(avg_total_per_person)
                }
        )

        # adding each dataframe to the dictionary instantiated above.
        # format is {groupname:[dfs made for each groupname]}
        output_dict[group] = [players_df, purch_group_df]

    return output_dict, dict_to_print

In [5]:
# path of csv file to read
path = 'purchase_data.csv'

In [6]:
df = spaceless_lowers(pd.read_csv(path))
a, b = make_the_output(df, 'gender', 'age')

#the below code was used for debugging while writing the make_the_output function
# loop through each key and print all dfs in dict's values
# for k in a.keys():
#     for i in range(len(a[k])):
#         print(f'{a[k][i]}\n\n')

## Player Count
* Display the total number of players

In [7]:
b['unique_df']

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
b['purchase_df']

   Unique Items Average Price  Total Purchases Total Revenue
0           179         $3.05              780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
a['gender'][0]

                       Total Count Percentage
gender
Female                          81     14.06%
Male                           484     84.03%
Other / Non-Disclosed           11      1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
a['gender'][1]

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [54]:
a['age'][0]

       Total Count Percentage
age
<10         17        2.95%
10-14       22        3.82%
15-19      107       18.58%
20-24      258       44.79%
25-29       77       13.37%
30-34       52        9.03%
35-39       31        5.38%
>40         12        2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [55]:
a['age'][1]

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
age,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
>40,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [11]:
spenders = df.groupby('sn').agg(
        {
                'purchase_id': 'count',
                'price': ['mean', 'sum']
        }
).droplevel(0, axis=1)  #need to droplevel because this gbo outputs a multiindex column

spenders = spenders.nlargest(5, 'sum')

for c in ['mean', 'sum']:
    spenders[c] = spenders[c].apply('${:,.2f}'.format)

spenders

             count   mean     sum
sn
Lisosia93        5  $3.79  $18.96
Idastidru52      4  $3.86  $15.45
Chamjask73       3  $4.61  $13.83
Iral74           4  $3.41  $13.62
Iskadarya95      3  $4.37  $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [12]:
s = df.groupby(['item_id', 'item_name']).agg(
        {
                'item_id': 'count',
                'price': ['mean', 'sum']
        }
)

In [13]:
s.sort_values(('item_id', 'count'), ascending=False, inplace=True)

In [14]:
# droplevel not performed here, so column id must be passed as tuple.
most_popular = s.nlargest(5, ('item_id', 'count'))
most_profit = s.nlargest(5, ('price', 'sum'))

In [15]:
# formatting output for ease of human readability
for _ in [most_popular, most_profit]:
    for c in ['mean', 'sum']:
        _[('price', c)] = _[('price', c)].apply('${:,.2f}'.format)

In [16]:
most_popular

                                                     item_id  price
                                                       count   mean     sum
item_id item_name
92      Final Critic                                      13  $4.61  $59.99
178     Oathbreaker, Last Hope of the Breaking Storm      12  $4.23  $50.76
145     Fiery Glass Crusader                               9  $4.58  $41.22
132     Persuasion                                         9  $3.22  $28.99
108     Extraction, Quickblade Of Trembling Hands          9  $3.53  $31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [17]:

most_profit

                                                     item_id  price
                                                       count   mean     sum
item_id item_name
92      Final Critic                                      13  $4.61  $59.99
178     Oathbreaker, Last Hope of the Breaking Storm      12  $4.23  $50.76
82      Nirvana                                            9  $4.90  $44.10
145     Fiery Glass Crusader                               9  $4.58  $41.22
103     Singed Scalpel                                     8  $4.35  $34.80